@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Peddana&family=Poppins:ital,wght@0,600;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100&display=swap');

/* icon  */

/* font-family: 'Oswald', sans-serif;
font-family: 'Peddana', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    font-family: 'Quicksand', sans-serif;
}
:root{
    --primary: #FF5733;
    --secoundary: #fff;
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #AEB6BF;
}
a{
    text-decoration: none;
    color: black;
}
.custom-btn{
    border-radius: 34px;
    background-color: var(--primary);
    color: white;
}


/* banner  */
.banner-wrapper{
    position: relative ;
}
.banner{
    padding-top: 170px;
    padding-bottom: 170px;
}
.banner-title{
    font-weight: bold;
}
.banner-img{
    background: url('../Assets/images/banner1.jpg'); 
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-card-wrapper{
    position: relative;
    margin-top: -40px;
}
.banner-card{
    background-color: var(--secoundary);
    border-radius: 4px;
}
.banner-shaddow{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.banner-cart-title{
    font-size: 18px;
    font-weight: bold;
}

/* category and product  */
.category>.item{
    font-weight: bold;
}